<html xmlns:th="http://www.thymeleaf.org">
<body>

	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>

	<div>
		<form method="POST" enctype="multipart/form-data" action="/">
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td>Enter the workflow registry reference</td><td><input type="text" name="reference" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>
	
	<div>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="@{'/files/' + ${file}}" th:text="${file}" />
				<a th:href="@{'/delete/files/' + ${file}}" th:text="delete" />
			</li>
		</ul>
	</div>

</body>
</html>